html{
   background-image: url("../Images/background.png");
   background-repeat: repeat;
    background-size:cover;
}

body {
    color: white;
    font-family: "Arial", cursive, sans-serif; 
    align-content: center;
}

header{
     margin-left: 350px;
    margin-right: 300px;  
}

body header img{
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    width: 100px;
}

body header h1{
    float: left;
     margin-left: 5px;
    margin-right: 30px;
}

body header h4{
    float: left;
    margin-top: 33px;
     margin-left: 20px;
    margin-right: 20px;
}

body img{
    float: left;
  width: 280px;
    margin:10px;
}

body h3{
    margin-left: 370px;
    margin-top: 40px;
}

body p{
    margin-left: 370px;

}

body form {
   
    margin-left: auto;
    margin-right: auto;
    width:300px;
}

body form input{
     margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

a:link {
  color:crimson ;
}

a:visited {
  color: green;
}

a:hover {
  color:orange;
}

a:active {
  color:beige;
}